<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
	<select id="selectOneManager" resultType="manager">
		select * from manager where managerid=#{managerId}
	</select>
	
	<insert id="inserMovie">
		insert into movie values(SEQ_MOVIE.NEXTVAL,#{mvname},#{ename},#{grade},#{runtime},#{director},#{actor},#{genre},#{poster},#{story},${subImg},#{trailer},'Y',#{relDate},sysdate)
		<selectKey keyProperty="mvno"  resultType="_int" order="AFTER"> <!-- order 앞의 쿼리 후에 해라. -->
   		SELECT SEQ_MOVIE.CURRVAL FROM DUAL
   	</selectKey>	
	</insert>
	
	<update id="updateSubImg">
		update movie set subimg=#{subImg} where mvno=#{mvno}
	</update>
</mapper>
