<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manager">
	<resultMap type="map" id="map"></resultMap>
	
	<select id="selectOneManager" resultType="manager">
		select * from manager where managerid=#{managerId}
	</select>
	
	<insert id="inserMovie">
		insert into movie values(SEQ_MOVIE.NEXTVAL,#{mvname},#{ename},#{grade},#{runtime},#{director},#{actor},#{genre},#{poster},#{story},null,#{trailer},'Y',#{relDate},sysdate)
		<selectKey keyProperty="mvno"  resultType="_int" order="AFTER"> <!-- order 앞의 쿼리 후에 해라. -->
   		SELECT SEQ_MOVIE.CURRVAL FROM DUAL
   	</selectKey>	
	</insert>
	
	<update id="updateSubImg">
		update movie set subimg=#{subImg} where mvno=#{mvno}
	</update>
	
	<select id="selectSchedule" resultMap="map">
		select shno, rno, substr(to_char(s.starttime,'HH24:mi'),1,2) sHour,
			   substr(to_char(s.starttime,'HH24:mi'),4,2) sMin, 
               substr(to_char(s.endtime,'HH24:mi'),1,2) eHour,
               substr(to_char(s.endtime,'HH24:mi'),4,2) eMin, 
               s.mvno,mvname, m.runtime
		from   schedule s join movie m on s.mvno=m.mvno
		where  to_char(s.starttime,'yyyy-mm-dd')=#{date}
		<if test="shno!=null and shno!=0">
		and not shno=#{shno}
		</if>
		<if test="rno!=null and rno!=0">
		and rno=#{rno}
		</if>
	</select>
	
	<select id="selectTheaterMG" resultType="map">
		select tno, tname from theater where tno=(select tno from manager where nno=#{nno})
	</select>
	
	<select id="selectManagerTheaterName" resultType="string">
		select tname from theater where tno=#{tno}
	</select>
	
	<select id="searchMovie" resultMap="map">
		select mvno, mvname, ename, grade, runtime, to_char(reldate,'yyyy-mm-dd') reldate 
		from movie where status='Y' and mvname like '%'||#{searchName}||'%'
	</select>
	
	<select id="selectRoomByTheater" resultMap="map">
		select * from room where tno=#{tno}
	</select>
	
	<insert id="insertSchedule">
		insert into schedule values(SEQ_SCHEDULE.NEXTVAL,#{rno},#{mvno},to_date(#{sTime},'yyyy-mm-dd HH24:mi'),to_date(#{eTime},'yyyy-mm-dd HH24:mi'), sysdate,null,null) 
	</insert>
	
	<select id="selectSeatInfo" resultType="map">
		select shape, regexp_count(SHAPE, ',0|') lseat from seat
	</select>	
	
	<update id="updateSchedule">
		update schedule set mvno=#{mvno}, rno=#{rno}, starttime=to_date(#{sTime},'yyyy-mm-dd HH24:mi'), endtime=to_date(#{eTime},'yyyy-mm-dd HH24:mi') where shno=#{shno}
	</update>
	
	<delete id="deleteSchedule">
		delete from schedule where shno=#{shno}
	</delete>
	
	<select id="selectMovieAll" resultMap="map">
		select floor(sysdate-reldate) dday, mvno,mvname,ename,grade,runtime,director,actor,genre,poster,
		story,subimg,trailer,status,to_char(reldate,'yyyy-mm-dd') reldate,to_char(regdate,'yyyy-mm-dd') regdate  
		from movie
		where status='Y'
		order by dday,reldate desc
	</select>
	
	<update id="updateMovie">
		update movie set mvname=#{mvname}, ename=#{ename}, grade=#{grade}, runtime=#{runtime}, director=#{director}, actor=#{actor}, genre=#{genre},
                 		 story=#{story}, trailer=#{trailer},reldate=#{relDate}
                 		 <if test="poster!=null and poster!=''">
                 		 ,poster=#{poster}
                 		 </if>
                 		 <if test="subImg!=null and subImg!=''">
                 		 ,subimg=#{subImg}
                 		 </if>
                 		 where mvno=#{mvno}
	</update>
	
	
	<delete id="deleteMovie">
		delete from movie where mvno=#{mvno}
	</delete>
</mapper>
